{% extends "/admin/index.html.twig" %}
{% block content %}
    <div class="col-md-12">
        <div class="box">
            <div class="box-body no-padding">
            <h2>Страница не найдена</h2>
            </div>
        </div>
    </div>
{% endblock %}